html,
body,
#root,
canvas {
  height: 100%;
  margin: 100%;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Inconsolata", monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
/* scene terminal styles */
/* #container {
  position: absolute;
  display: flex;
  justify-self: end;
  align-self: end;
  justify-content: center;
  margin-bottom: 2%;
  margin-right: 2%;
  align-items: center;
  z-index: 1;
  height: 60%;
  max-height: 45%;
  max-width: 45%;
  font-size: 1.2rem;
}
#terminal {
  width: 100%;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.5);
}
#terminal__bar {
  display: flex;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  padding: 0 0.8rem;
  box-sizing: border-box;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}
#bar__buttons {
  display: flex;
  align-items: center;
}
.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  height: 1.2rem;
  width: 1.2rem;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
  cursor: pointer;
}
.bar__button:focus {
  outline: none;
}
#bar__button--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}
#bar__user {
  color: #d5d0ce;
  margin-left: 0.6rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
#terminal__body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  font-family: "Ubuntu Mono";
  height: 100%;
  /* height: calc(100% - 2rem); */
  /* padding-top: 1px; */
  /* padding-left: 1%; */
  /* overflow: auto; */
  /* padding-right: 1%; */
  /* margin-top: -0.1rem; */
/* } */
/* #terminal__prompt {
  display: flex;
}
#terminal__prompt--user {
  color: #7eda28;
}
#terminal__prompt--location {
  color: #dddddd;
}
#terminal__prompt--command {
  color: #dddddd;
}
#terminal__prompt--bling {
  color: #dddddd;
}
#terminal__prompt--cursor {
  display: block;
  height: 1.5rem;
  width: 0.8rem;
  margin-left: 0.9rem;
  animation: blink 1200ms linear infinite;
}
@keyframes blink {
  0% {
    background: #dddddd;
  }
  49% {
    background: #dddddd;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #dddddd;
  }
}
#terminal--options {
  color: #dddddd;
} */
/* scene terminal styles end */
